.about-container * {
  margin: 0;
  padding: 0;
  display: flex;
}

.about-container h1 {
  text-align: center;
}

.about-container .team_image {
  display: grid;
  columns: 2;
  grid-template-columns: 1fr 1fr;
}

.about-container .person-section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

/* hey arwa! when you do the css, it's important that you put the words 
".about-container" before each  thing you're trying to change...
that makes sure that nothing breaks when other people try to load the site.
you're free to do this in your own separate "about.css" file, or you can just
add your styles directly to the "styles.css" file.
the page looks great! -joy */
