.funnel-sans-text {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #f1f2f6;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container {
  background: darkseagreen;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin-top: 10%;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #f1f2f6;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 5px;
  background-color: #f1f2f6;
  border: 1px solid #f1f2f6;
  border-radius: 4px;
  color: #27187e;
}

.add-btn {
  padding: 5px 10px;
  border: none;
  background-color: seagreen;
  color: #f1f2f6;
  border-radius: 4px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: darkseagreen;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #f1f2f6;
  color: #27187e;
  background: #f1f2f6;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li input[type="text"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #f1f2f6;
  color: #27187e;
  background: #f1f2f6;
  border-radius: 5px;
  margin-right: 10px;
}

.buttons button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  background-color: seagreen;
  color: #f1f2f6;
  border-radius: 4px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: darkseagreen;
}

.buttons .save-btn {
  padding: 5px 10px;
  border: none;
  background-color: yellowgreen;
  color: #f1f2f6;
  border-radius: 4px;
  cursor: pointer;
}

.buttons .save-btn:hover {
  background-color: darkseagreen;
}
